
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-bottom: 100px;
}

.text {
    text-align: center;
    position: relative;
    top: 25%;
    padding: 35px;
    border-radius: 10px;
    width: 75%;
}

.homeIntroduction {
    font-size: 65px;
}

.aboutContainer {
    font-size: 30px;
}