

.navContainer {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid #bbc1cc;
    align-items: baseline;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}


.navbar {
    color: #070B12;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 10px;
    list-style: none;
}

.navbar > li {
    cursor: pointer;
}


.navbar > li > a {
    color: #070B12;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    margin: 0 25px 0 25px;
}

.navbar > li > a:hover {
    color: #A9BCF9;
}
