@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

html, .all-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth;
    scroll-snap-stop: always;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: rgb(1, 8, 32);
    overflow: hidden;
    height: 100vh;
}


main {
    height: 100%;
    width: 100%;
}






/* hamburger menu */


.hamburger-menu {
    height: 3rem;
    width: 3.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}


.ham-1 {
    width: 100%;
    height: 0.25rem;
    background-color: rgb(255, 255, 255);

    transition: 0.2s;
}

.ham-1-tilt {
    transform: rotate(45deg) translateY(0.6rem) translateX(0.6rem);
    background-color: coral;
}


.ham-2 {
    width: 100%;
    height: 0.25rem;
    background-color: rgb(255, 255, 255);

    transition: 0.1s;
}

.ham-2-tilt {
    width: 0rem;
    background-color: coral;
}



.ham-3 {
    width: 100%;
    height: 0.25rem;
    background-color: rgb(255, 255, 255);

    transition: 0.2s;
}

.ham-3-tilt {
    transform: rotate(-45deg) translateY(-0.6rem) translateX(0.6rem);
    background-color: coral;
}



/* navbar section of webpage */

.navbar {
    position: absolute;

    margin: 2rem 2rem 0rem 0rem;

    right: 0%;
    width: 15rem;
    height: 40vh;

    z-index: 99;
}

.nav-links {
    position: absolute;

    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: 0.2s;
}

.nav-cover {
    width: 100%;
    height: 0%;

    transition: 0.2s;
}

.nav-cover > * {
    display: none
}


.navlink {
    font-weight: 700;
    padding: 0.5rem;
    transition: 0.2s;

    cursor: pointer;
}

.navlink > a {
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
    color: black;

    cursor: pointer;

    transition: 0.2s;
}

.navlink > a:hover {
    color: rgb(231, 96, 47);
}


@media screen and (max-width: 450px) {
    .navbar {
        width: 100%;
        margin: 0;
    }

    .nav-links {
        border-radius: 0rem;
        border: 0.15rem solid rgb(1, 8, 32);
    }
}







.computer-div {
    width: 80%;
    height: 100%;

    position: absolute;
    
    opacity: 0.5;
    z-index: -3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.computer-image {
    position: relative;
    height: 52rem;
    margin: 0;
}

@media screen and (max-width: 1050px) {
    .computer-div {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .computer-div {
        justify-content: center;

    }

    .computer-image{
        height: 35rem;
        right: -5rem;
    }
}

@media screen and (max-width: 650px) {
    .computer-div {
        overflow: hidden
    }

    .computer-image {
        height: auto;
        right: 0rem;
    }
}







.intro-section {
    height: 100%;
    color: white;
    
    line-height: 6rem;

    display: flex;
    justify-content: center;
}

.intro-text {
    position: relative;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}



.intro-description {
    display: flex;
    align-items: center;
    width: fit-content;

    height: 1.5rem;

    font-size: 1rem;
    opacity: 0;
    margin-top: 1rem;

    padding-right: 0.5rem;
    border-right: 0.15rem solid transparent;



    animation: text-intro-animation 0.5s ease 0.8s forwards, flashing-cursor 0.9s 1s infinite;
}

.name {
    font-size: 4rem;
    font-weight: 700;

    margin: 0;
    opacity: 0;

    
    animation-name: text-intro-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}


.occupation {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    opacity: 0;

    animation-name: text-intro-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    
}


.hide-contact {
    cursor: default;
    opacity: 0;
    transform: translateX(4rem);
    pointer-events: none;

    padding: 1rem 2rem;
    font-size: 1.2rem;
    max-height: 4rem;
}

.contact-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;

    border-radius: 1rem;
    border: transparent;
    background-color: coral;

    height: 4rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.2s;
}

.contact-button:hover {
    padding: 1rem 3rem;
    background-color: rgb(231, 96, 47);
}


@keyframes text-intro-animation {
    from {
        transform: translateY(-4rem);
        opacity: 0;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes flashing-cursor {
    from {
        border-right: 0.15rem solid transparent;
    }
    to {
        border-right: 0.15rem solid rgb(255, 255, 255);
    }
}


@media screen and (max-width: 650px) {
    .intro-text {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .intro-description {
        height: 1.5rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {


    .name {
        font-size: 3rem;
    }

    .occupation {
        font-size: 3rem;
    }

    .intro-description {
        line-height: 1rem;
        height: 1.5rem;
        opacity: 1;

        animation: none;
    }
}




.contacts {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: fit-content;
    text-align: center;

    display: flex;
    align-items: center;
    color: white;

    background-color: rgb(1, 8, 32);
    opacity: 0.3;
}

.contacts > * {
    margin: 1rem;
}


.social-link > img {
    width: 3rem;
}
